.App {
  text-align: center;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.InputForm{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

.InputFeild{
  text-align: center;
}

.btn{
  border-color: #0b4ed5;
  background-color: white;
  margin-top: 1%;
}

.btndel{
  border-color: #f9f9f9;
  color: #fbfbfb;
  background-color: rgb(154, 0, 0);
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 50%;
}
.tbl{
  display: flex;
 flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  border: 1px solid DarkOrange;
  border-radius: 13px; 
  border-spacing: 0;
  padding-left: 0px !important;
}
.tbl1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  padding-left: 0px !important;
  border-bottom: 1px solid DarkOrange;

}
.lis{
  list-style-type: none;
  display: inline;
}




