.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.InputForm{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

.InputFeild{
  text-align: center;
}

.btn{
  border-color: #0b4ed5;
  background-color: white;
  margin-top: 1%;
}
.tbl{
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  border: 1px solid DarkOrange;
  border-radius: 13px; 
  border-spacing: 0;
}
.lis{
  list-style-type: none;
  display: inline;
}
 th,td{
  border-bottom: 1px solid DarkOrange;
  padding: 10px; 
}
tr:last-child > td {
  border-bottom: none;
}
.Row{
  display: flex;

  
  border-bottom: 1px solid DarkOrange;

  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

